.searchItem {
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

.siImg {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.siDesc {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 2;
}

.siTitle {
    font-size: 20px;
    color: #0071c2;
    margin-bottom: 0;
    cursor: pointer;
}

.siTitle:hover {
    color: #000;
}

.siDistance {
    font-size: 12px;
}

.siSust {
    display: flex;
    gap: 5px;
}

.siSust div {
    width: 45px;
    display: flex;
}

.siDescription {
    font-size: 12px;
}


.siDetails {
    flex: 1;
}

.siRating {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    cursor: pointer;
}

.siRatingBot {
    display: flex;
    flex-direction: column;
}

.siRatingTitle {
    color: #262626;
    font-size: 16px;
    font-weight: 600;
}

.siRatingDesc {
    font-size: 12px;
    color: rgb(139, 139, 139);
    display: flex;
    justify-content: flex-end;
}

.siRating button {
    background-color: #003580;
    color: white;
    border: none;
    width: 40px;
    border-radius: 6px 6px 6px 0;
}

.siLocation {
    color: #0071C2;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: flex-end;

}

.siLocation span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.siDetailsAll {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.siButton {
    display: flex;
    justify-content: flex-end;
}

.siButton button {

    border: none;
    background-color: #0071C2;
    color: white;
    padding: 10px;
    font-weight: 700;
    cursor: pointer;
}

.siButton button:hover {
    background-color: #003580;
}